$theme-color: #e04f3b;

$font-color: #f5f5f5;

$theme-bg: #121212;


$white: #f5f5f5;
$white80: #626262;
$white30: #313131;

$bg10: #181818;
$bg30: #494949;
$bg50: #7b7b7b;
$bg20: #c4c4c4;


$themed50: #70281e;
$themed20: #b33f2f;
$themed20: #b33f2f;
$themed70: #431812;


$themel20: #e67262;
$themel10: #e3614f;
$themel40: #ec9589;