$theme-color: #0d1b2a;
$theme-secondary: #1b263b;
$theme-tertiary: #415a77;
$theme-fourth: #778da9;


$accent: #d4a373;

$font-primary0: #e0e1dd;
$font-primary30: #9d9e9b;
$font-primary70: #434442;
$font-primary90: #161616;