@import './Components/Shared/StyleAssets/Colors-Styles.scss';

.root-of-application {
    color: $font-primary0;
    margin: auto;
    width: 100%;

    min-height: 100vh;
    background-color: $theme-color;
}